In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('resources/movie_metadata.csv')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
movies = movies[['movie_title', 'genres']]
movies.head()

,movie_title,genres
0,Avatar,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy
2,Spectre,Action|Adventure|Thriller
3,The Dark Knight Rises,Action|Thriller
4,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [4]:
movies = movies.rename(columns={'movie_title':'title'})
movies.head()

,title,genres
0,Avatar,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy
2,Spectre,Action|Adventure|Thriller
3,The Dark Knight Rises,Action|Thriller
4,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [5]:
# Break up the big genre string into a string array
movies['genres'] = movies['genres'].str.split('|')
# Convert genres to string value
movies['genres'] = movies['genres'].fillna("").astype('str')

In [6]:
# use TfidfVectorizer function from scikit-learn, which transforms text to 
# feature vectors that can be used as input to estimator.
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])

In [7]:
# used the TF-IDF Vectorizer, calculating the Dot 
# Product will directly give me the Cosine Similarity Score.
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [8]:
movies['title'][0]

'Avatar\xa0'

In [12]:
titles = movies['title']
newtitle = titles + '\xa0'
indices = pd.Series(movies.index, index=movies['title'])
indices

title
AvatarÂ                                                        0
Pirates of the Caribbean: At World's EndÂ                      1
SpectreÂ                                                       2
The Dark Knight RisesÂ                                         3
Star Wars: Episode VII - The Force AwakensÂ                    4
John CarterÂ                                                   5
Spider-Man 3Â                                                  6
TangledÂ                                                       7
Avengers: Age of UltronÂ                                       8
Harry Potter and the Half-Blood PrinceÂ                        9
Batman v Superman: Dawn of JusticeÂ                           10
Superman ReturnsÂ                                             11
Quantum of SolaceÂ                                            12
Pirates of the Caribbean: Dead Man's ChestÂ                   13
The Lone RangerÂ                                              14
Man of SteelÂ                                                 15
The Chronicles of Narnia: Prince CaspianÂ                     16
The AvengersÂ                                                 17
Pirates of the Caribbean: On Stranger TidesÂ                  18
Men in Black 3Â                                               19
The Hobbit: The Battle of the Five ArmiesÂ                    20
The Amazing Spider-ManÂ                                       21
Robin HoodÂ                                                   22
The Hobbit: The Desolation of SmaugÂ                          23
The Golden CompassÂ                                           24
King KongÂ                                                    25
TitanicÂ                                                      26
Captain America: Civil WarÂ                                   27
BattleshipÂ                                                   28
Jurassic WorldÂ                                               29
                                                           ...
ManitoÂ                                                     5013
RampageÂ                                                    5014
SlackerÂ                                                    5015
Dutch KillsÂ                                                5016
Dry SpellÂ                                                  5017
FlywheelÂ                                                   5018
ExeterÂ                                                     5019
The RidgesÂ                                                 5020
The Puffy ChairÂ                                            5021
Stories of Our LivesÂ                                       5022
Breaking UpwardsÂ                                           5023
All Superheroes Must DieÂ                                   5024
Pink FlamingosÂ                                             5025
CleanÂ                                                      5026
The CircleÂ                                                 5027
Tin Can ManÂ                                                5028
The CureÂ                                                   5029
On the DownlowÂ                                             5030
Sanctuary; Quite a ConundrumÂ                               5031
BangÂ                                                       5032
PrimerÂ                                                     5033
CaviteÂ                                                     5034
El MariachiÂ                                                5035
The Mongol KingÂ                                            5036
NewlywedsÂ                                                  5037
Signed Sealed DeliveredÂ                                    5038
The FollowingÂ                                              5039
A Plague So PleasantÂ                                       5040
Shanghai CallingÂ                                           5041
My Date with DrewÂ                                          5042
Length: 5043, dtype: int64

In [10]:
# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    newtitle = title + '\xa0'
    idx = indices[newtitle]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [11]:
genre_recommendations('The Polar Express').head(20)

93                           How to Train Your DragonÂ
156                             Rise of the GuardiansÂ
304                                              EpicÂ
503                         Arthur and the InvisiblesÂ
1347                      Dragon Nest: Warriors' DawnÂ
1517                                            PonyoÂ
2047                             Howl's Moving CastleÂ
2183                             Return to Never LandÂ
2373                                    Spirited AwayÂ
2528                                   Dragon HuntersÂ
3408                              The Secret of KellsÂ
312     Legend of the Guardians: The Owls of Ga'HooleÂ
2241              Yu-Gi-Oh! Duel MonstersÂ
494                         Walking with Dinosaurs 3DÂ
2006              A Turtle's Tale: Sammy's AdventuresÂ
2749                                           KhumbaÂ
2913                             The Land Before TimeÂ
3538                                       Snow QueenÂ
744                                          CoralineÂ
624                   Legends of Oz: Dorothy's ReturnÂ
Name: title, dtype: object