In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('resources/movie_metadata.csv')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
movies = movies[['movie_title', 'genres']]
movies.head()

,movie_title,genres
0,Avatar,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy
2,Spectre,Action|Adventure|Thriller
3,The Dark Knight Rises,Action|Thriller
4,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [4]:
movies = movies.rename(columns={'movie_title':'title'})
movies.head()

,title,genres
0,Avatar,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy
2,Spectre,Action|Adventure|Thriller
3,The Dark Knight Rises,Action|Thriller
4,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [5]:
# use TfidfVectorizer function from scikit-learn, which transforms text to 
# feature vectors that can be used as input to estimator.
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])

In [6]:
# used the TF-IDF Vectorizer, calculating the Dot 
# Product will directly give me the Cosine Similarity Score.
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [7]:
movies['title'][0]

'Avatar\xa0'

In [8]:
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title'])
indices.loc['Avatar\xa0']

0

In [9]:
# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    newtitle = title + '\xa0'
    idx = indices[newtitle]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [10]:
genre_recommendations('Avatar').head(20)

15                                        Man of SteelÂ
39                            The Amazing Spider-Man 2Â
236       Star Wars: Episode III - Revenge of the SithÂ
237       Star Wars: Episode II - Attack of the ClonesÂ
240          Star Wars: Episode I - The Phantom MenaceÂ
520              The League of Extraordinary GentlemenÂ
1536        Star Wars: Episode VI - Return of the JediÂ
2051    Star Wars: Episode V - The Empire Strikes BackÂ
2687                               Highlander: EndgameÂ
3024                Star Wars: Episode IV - A New HopeÂ
3634         Beastmaster 2: Through the Portal of TimeÂ
4690                                           DestinyÂ
34                               X-Men: The Last StandÂ
47                          X-Men: Days of Future PastÂ
123                           X-Men Origins: WolverineÂ
210                                            X-Men 2Â
769                                      Reign of FireÂ
1145                             Underworld: EvolutionÂ
1432                    Underworld: Rise of the LycansÂ
1660                       Mortal Kombat: AnnihilationÂ
Name: title, dtype: object