In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [25]:
new_movies = pd.read_csv('resources/upcoming_movies_2019.csv')
new_movies.head()

,Unnamed: 0,genre,image,name,release_date
0,49,"Action, Comedy",https://m.media-amazon.com/images/M/MV5BOGE1Zj...,Stuber,Release date - July 12th 2019
1,50,"Animation, Adventure, Drama",https://m.media-amazon.com/images/M/MV5BMjIwMj...,The Lion King,Release date - July 19th
2,51,"Comedy, Drama",https://m.media-amazon.com/images/M/MV5BOTg4ZT...,Once Upon a Time ... in Hollywood,Release date - July 26th
3,52,"Action, Adventure, Comedy",https://m.media-amazon.com/images/M/MV5BMTc4Nz...,Fast & Furious Presents: Hobbs & Shaw,Release date - August 2nd
4,53,Horror,https://m.media-amazon.com/images/M/MV5BMjA0MD...,Scary Stories to Tell in the Dark,Release date - August 9th

Clean up the new dataset

In [26]:
new_movies = new_movies[['name', 'genre']]
new_movies.head()

,name,genre
0,Stuber,"Action, Comedy"
1,The Lion King,"Animation, Adventure, Drama"
2,Once Upon a Time ... in Hollywood,"Comedy, Drama"
3,Fast & Furious Presents: Hobbs & Shaw,"Action, Adventure, Comedy"
4,Scary Stories to Tell in the Dark,Horror

In [27]:
# Break up the big genre string into a string array
new_movies['genre'] = new_movies['genre'].str.split(',')
# Convert genres to string value
new_movies['genre'] = new_movies['genre'].fillna("").astype('str')
new_movies['genre']

0                     ['Action', ' Comedy            ']
1     ['Animation', ' Adventure', ' Drama            ']
2                      ['Comedy', ' Drama            ']
3       ['Action', ' Adventure', ' Comedy            ']
4                                ['Horror            ']
5                  ['Adventure', ' Family            ']
6            ['Action', ' Crime', ' Drama            ']
7                      ['Comedy', ' Drama            ']
8             ['Drama', ' History', ' War            ']
9     ['Animation', ' Adventure', ' Comedy          ...
10         ['Comedy', ' Drama', ' Mystery            ']
11      ['Horror', ' Mystery', ' Thriller            ']
12    ['Animation', ' Adventure', ' Comedy          ...
13                  ['Horror', ' Thriller            ']
14      ['Adventure', ' Drama', ' Mystery            ']
15    ['Action', ' Adventure', ' Thriller            ']
16                                ['Drama            ']
17    ['Animation', ' Adventure', ' Comedy          ...
18       ['Action', ' Horror', ' Thriller            ']
19         ['Action', ' Horror', ' Sci-Fi            ']
20         ['Crime', ' Drama', ' Thriller            ']
21          ['Action', ' Drama', ' Sci-Fi            ']
22          ['Crime', ' Drama', ' Mystery            ']
23         ['Action', ' Comedy', ' Horror            ']
24      ['Animation', ' Comedy', ' Family            ']
25                                ['Drama            ']
26     ['Adventure', ' Family', ' Fantasy            ']
27             ['Comedy', ' Drama', ' War            ']
28                      ['Drama', ' Sport            ']
29      ['Action', ' Adventure', ' Sci-Fi            ']
30                      ['Crime', ' Drama            ']
31                               ['Horror            ']
32       ['Action', ' Biography', ' Drama            ']
33      ['Action', ' Adventure', ' Comedy            ']
34                                ['Drama            ']
35                   ['Comedy', ' Romance            ']
36    ['Animation', ' Adventure', ' Comedy          ...
37                  ['Biography', ' Drama            ']
38         ['Action', ' Drama', ' Mystery            ']
39          ['Crime', ' Drama', ' Mystery            ']
40                                ['Drama            ']
41      ['Action', ' Adventure', ' Comedy            ']
42      ['Horror', ' Mystery', ' Thriller            ']
43     ['Action', ' Adventure', ' Fantasy            ']
44       ['Animation', ' Comedy', ' Drama            ']
45    ['Animation', ' Action', ' Adventure          ...
46                    ['Action', ' Comedy            ']
47                    ['Drama', ' Romance            ']
48                        ['Drama', ' War            ']
49                     ['Drama', ' Sci-Fi            ']
50                              ['Romance            ']
51                    ['Drama', ' Fantasy            ']
52        ['Action', ' Fantasy', ' Horror            ']
53                               ['Horror            ']
Name: genre, dtype: object

In [28]:
movies = pd.read_csv('resources/movie_metadata.csv')
movies = movies[['movie_title', 'genres']]
movies = movies.rename(columns={'movie_title':'name', 'genres':'genre'})

# Break up the big genre string into a string array
movies['genre'] = movies['genre'].str.split('|')
# Convert genres to string value
movies['genre'] = movies['genre'].fillna("").astype('str')
movies['genre']

0            ['Action', 'Adventure', 'Fantasy', 'Sci-Fi']
1                      ['Action', 'Adventure', 'Fantasy']
2                     ['Action', 'Adventure', 'Thriller']
3                                  ['Action', 'Thriller']
4                                         ['Documentary']
5                       ['Action', 'Adventure', 'Sci-Fi']
6                      ['Action', 'Adventure', 'Romance']
7       ['Adventure', 'Animation', 'Comedy', 'Family',...
8                       ['Action', 'Adventure', 'Sci-Fi']
9           ['Adventure', 'Family', 'Fantasy', 'Mystery']
10                      ['Action', 'Adventure', 'Sci-Fi']
11                      ['Action', 'Adventure', 'Sci-Fi']
12                                ['Action', 'Adventure']
13                     ['Action', 'Adventure', 'Fantasy']
14                     ['Action', 'Adventure', 'Western']
15           ['Action', 'Adventure', 'Fantasy', 'Sci-Fi']
16           ['Action', 'Adventure', 'Family', 'Fantasy']
17                      ['Action', 'Adventure', 'Sci-Fi']
18                     ['Action', 'Adventure', 'Fantasy']
19      ['Action', 'Adventure', 'Comedy', 'Family', 'F...
20                               ['Adventure', 'Fantasy']
21                     ['Action', 'Adventure', 'Fantasy']
22            ['Action', 'Adventure', 'Drama', 'History']
23                               ['Adventure', 'Fantasy']
24                     ['Adventure', 'Family', 'Fantasy']
25            ['Action', 'Adventure', 'Drama', 'Romance']
26                                   ['Drama', 'Romance']
27                      ['Action', 'Adventure', 'Sci-Fi']
28          ['Action', 'Adventure', 'Sci-Fi', 'Thriller']
29          ['Action', 'Adventure', 'Sci-Fi', 'Thriller']
                              ...
5013                                  ['Drama', 'Family']
5014                      ['Action', 'Crime', 'Thriller']
5015                                  ['Comedy', 'Drama']
5016                       ['Crime', 'Drama', 'Thriller']
5017                                ['Comedy', 'Romance']
5018                                            ['Drama']
5019                    ['Horror', 'Mystery', 'Thriller']
5020                      ['Drama', 'Horror', 'Thriller']
5021                       ['Comedy', 'Drama', 'Romance']
5022                                            ['Drama']
5023                                          ['Romance']
5024                               ['Sci-Fi', 'Thriller']
5025                        ['Comedy', 'Crime', 'Horror']
5026                        ['Drama', 'Music', 'Romance']
5027                                            ['Drama']
5028                                           ['Horror']
5029           ['Crime', 'Horror', 'Mystery', 'Thriller']
5030                                            ['Drama']
5031                     ['Comedy', 'Horror', 'Thriller']
5032                                   ['Crime', 'Drama']
5033                      ['Drama', 'Sci-Fi', 'Thriller']
5034                                         ['Thriller']
5035    ['Action', 'Crime', 'Drama', 'Romance', 'Thril...
5036                                   ['Crime', 'Drama']
5037                                  ['Comedy', 'Drama']
5038                                  ['Comedy', 'Drama']
5039            ['Crime', 'Drama', 'Mystery', 'Thriller']
5040                      ['Drama', 'Horror', 'Thriller']
5041                       ['Comedy', 'Drama', 'Romance']
5042                                      ['Documentary']
Name: genre, Length: 5043, dtype: object

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [40]:
def recommend_upcoming(movie_name, genre):

    dict1 = {
        "name": movie_name,
        "genre": genre
    }
    new_movies.append(dict1, ignore_index=True)
    print(new_movies)

    tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
    tfidf_matrix = tf.fit_transform(new_movies['genre'])
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Build a 1-dimensional array with movie titles
    titles = new_movies['name']
    indices = pd.Series(new_movies.index, index=new_movies['name'])

    idx = indices[movie_name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[0:3]
    movie_indices = [i[0] for i in sim_scores]

    recommendations =  titles.iloc[movie_indices]

    return recommendations

In [31]:
movies.head()

,name,genre
0,Avatar,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
1,Pirates of the Caribbean: At World's End,"['Action', 'Adventure', 'Fantasy']"
2,Spectre,"['Action', 'Adventure', 'Thriller']"
3,The Dark Knight Rises,"['Action', 'Thriller']"
4,Star Wars: Episode VII - The Force Awakens ...,['Documentary']

In [41]:
genre = ['Action', 'Adventure', 'Fantasy', 'Sci-Fi']
recommend_upcoming('Avatar',genre)

                                              name  \
0                                           Stuber
1                                    The Lion King
2                Once Upon a Time ... in Hollywood
3            Fast & Furious Presents: Hobbs & Shaw
4                Scary Stories to Tell in the Dark
5                   Dora and the Lost City of Gold
6                                      The Kitchen
7                    The Art of Racing in the Rain
8                                  The Nightingale
9                          The Angry Birds Movie 2
10                      Where'd You Go, Bernadette
11                                    Ready or Not
12                            Playmobil: The Movie
13                                  It Chapter Two
14                                        Ad Astra
15                               Rambo: Last Blood
16                                   Downton Abbey
17                                      Abominable
18                                        The Hunt
19                              Doom: Annihilation
20                                           Joker
21                                      Gemini Man
22                         The Woman in the Window
23                          Zombieland: Double Tap
24                               The Addams Family
25                                   The Goldfinch
26                    Maleficent: Mistress of Evil
27                                     Jojo Rabbit
28                                        Torrance
29                           Terminator: Dark Fate
30                             Motherless Brooklyn
31                                    Doctor Sleep
32                                  Ford v Ferrari
33                                Charlie's Angels
34                                   The Good Liar
35                                  Last Christmas
36                                       Frozen II
37             A Beautiful Day in the Neighborhood
38                              The Rhythm Section
39                                      Knives Out
40                                    Queen & Slim
41  Untitled Jumanji: Welcome to the Jungle Sequel
42                                 Black Christmas
43                Star Wars: The Rise of Skywalker
44                                            Cats
45                               Spies in Disguise
46                               Superintelligence
47                                    Little Women
48                                            1917
49                                 Lucy in the Sky
50                               The Rosie Project
51                                           Wendy
52                                           Spawn
53                                             Eli

                                                genre
0                   ['Action', ' Comedy            ']
1   ['Animation', ' Adventure', ' Drama            ']
2                    ['Comedy', ' Drama            ']
3     ['Action', ' Adventure', ' Comedy            ']
4                              ['Horror            ']
5                ['Adventure', ' Family            ']
6          ['Action', ' Crime', ' Drama            ']
7                    ['Comedy', ' Drama            ']
8           ['Drama', ' History', ' War            ']
9   ['Animation', ' Adventure', ' Comedy          ...
10       ['Comedy', ' Drama', ' Mystery            ']
11    ['Horror', ' Mystery', ' Thriller            ']
12  ['Animation', ' Adventure', ' Comedy          ...
13                ['Horror', ' Thriller            ']
14    ['Adventure', ' Drama', ' Mystery            ']
15  ['Action', ' Adventure', ' Thriller            ']
16                              ['Drama            ']
17  ['Animation', ' Adventure', ' Comedy          ...
18     ['Action', ' Horror', ' Thriller            ']
19       ['Action', ' Horror', ' Sci-Fi            ']
20       ['Crime', ' Drama', ' Thriller            ']
21        ['Action', ' Drama', ' Sci-Fi            ']
22        ['Crime', ' Drama', ' Mystery            ']
23       ['Action', ' Comedy', ' Horror            ']
24    ['Animation', ' Comedy', ' Family            ']
25                              ['Drama            ']
26   ['Adventure', ' Family', ' Fantasy            ']
27           ['Comedy', ' Drama', ' War            ']
28                    ['Drama', ' Sport            ']
29    ['Action', ' Adventure', ' Sci-Fi            ']
30                    ['Crime', ' Drama            ']
31                             ['Horror            ']
32     ['Action', ' Biography', ' Drama            ']
33    ['Action', ' Adventure', ' Comedy            ']
34                              ['Drama            ']
35                 ['Comedy', ' Romance            ']
36  ['Animation', ' Adventure', ' Comedy          ...
37                ['Biography', ' Drama            ']
38       ['Action', ' Drama', ' Mystery            ']
39        ['Crime', ' Drama', ' Mystery            ']
40                              ['Drama            ']
41    ['Action', ' Adventure', ' Comedy            ']
42    ['Horror', ' Mystery', ' Thriller            ']
43   ['Action', ' Adventure', ' Fantasy            ']
44     ['Animation', ' Comedy', ' Drama            ']
45  ['Animation', ' Action', ' Adventure          ...
46                  ['Action', ' Comedy            ']
47                  ['Drama', ' Romance            ']
48                      ['Drama', ' War            ']
49                   ['Drama', ' Sci-Fi            ']
50                            ['Romance            ']
51                  ['Drama', ' Fantasy            ']
52      ['Action', ' Fantasy', ' Horror            ']
53                             ['Horror            ']

KeyError: 'Avatar'

In [ ]:
def get_genre(movie):
    table = movies.loc
    movie_data = []
    for results in table:
        movie = {}
        movie["Title"] = results[0]
        movie["Genre"] = results[4]
        movie_data.append(movie)

transfer text into vector

In [40]:
# use TfidfVectorizer function from scikit-learn, which transforms text to 
# feature vectors that can be used as input to estimator.
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
# transfer the new dataset
tfidf_matrix = tf.fit_transform(new_movies['genres'])

In [41]:
# used the TF-IDF Vectorizer, calculating the Dot 
# Product will directly give me the Cosine Similarity Score.
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [42]:
new_movies['title'][0]

'Stuber'

In [43]:
titles = new_movies['title']
indices = pd.Series(new_movies.index, index=new_movies['title'])
indices

title
Stuber                                             0
The Lion King                                      1
Once Upon a Time ... in Hollywood                  2
Fast & Furious Presents: Hobbs & Shaw              3
Scary Stories to Tell in the Dark                  4
Dora and the Lost City of Gold                     5
The Kitchen                                        6
The Art of Racing in the Rain                      7
The Nightingale                                    8
The Angry Birds Movie 2                            9
Where'd You Go, Bernadette                        10
Ready or Not                                      11
Playmobil: The Movie                              12
It Chapter Two                                    13
Ad Astra                                          14
Rambo: Last Blood                                 15
Downton Abbey                                     16
Abominable                                        17
The Hunt                                          18
Doom: Annihilation                                19
Joker                                             20
Gemini Man                                        21
The Woman in the Window                           22
Zombieland: Double Tap                            23
The Addams Family                                 24
The Goldfinch                                     25
Maleficent: Mistress of Evil                      26
Jojo Rabbit                                       27
Torrance                                          28
Terminator: Dark Fate                             29
Motherless Brooklyn                               30
Doctor Sleep                                      31
Ford v Ferrari                                    32
Charlie's Angels                                  33
The Good Liar                                     34
Last Christmas                                    35
Frozen II                                         36
A Beautiful Day in the Neighborhood               37
The Rhythm Section                                38
Knives Out                                        39
Queen & Slim                                      40
Untitled Jumanji: Welcome to the Jungle Sequel    41
Black Christmas                                   42
Star Wars: The Rise of Skywalker                  43
Cats                                              44
Spies in Disguise                                 45
Superintelligence                                 46
Little Women                                      47
1917                                              48
Lucy in the Sky                                   49
The Rosie Project                                 50
Wendy                                             51
Spawn                                             52
Eli                                               53
dtype: int64

In [45]:
# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [47]:
genre_recommendations('Stuber').head(2)

46         Superintelligence
23    Zombieland: Double Tap
Name: title, dtype: object